@import '../../common/scss/variables';

.chat-list-container{
  h1{
    line-height: 122px;
    color: #454545;
  }

  img {
    width: 120px;
    height: 120px;
    border: 1px solid $color-border-light;
    border-radius: 50%;
  }
  .pin-icon-wrap{
    right: 0;
    bottom: 0;
    background-color: #acdace;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .pin-icon{
      width: 24px;
      height: 24px;
      color: #fff;
    }


  }

  .chat-opt{
    width: 80px;
    .chat-opt-count{
      padding-left: 12px;
      padding-right: 12px;
      line-height: 40px;
      background-color: $color-primary;
      font-size: 24px;
      letter-spacing: 1px;
      border-radius: 20px;
      text-align: center;
      color: #fff;
    }
  }

}