$color-primary: #3cc8b4;
$color-primary-light: #59ead5;
$color-primary-dark: #1ab59f;
$color-secondly: #ccc;
$color-danger: #ff7f79;
$color-warning: #ff9800;
$color-info: #404040;

$color-disabled: #d6d6d6;
$color-border: #eee;

$color-bg-light: #f8f8f8;
$color-bg: #fafafa;
$color-bg-2: #f8f8f8;
$color-bg-dark: #ddd;

$color-text-dark: #333;
$color-text: #666;
$color-text-light: #999;
$color-text-slight:#aaa;

//$color-bg-light:#eaeaea;
$color-border-light:#eaeaea;
$color-bg-lightest:#fff;
$color-border-lightest:#fff;
$color-text-lightest:#fff;
$color-bg-lighter:#f4f4f4;
$color-border-dark: #ddd;

$transition-duration-normal: 0.3s;